body {
  margin: 0;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

#questionDiv h3 {
  color: #263238;
}

#questionDiv button {
  display: block;
  min-width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #5c6a79;
  outline: none;
  color: #ecf0f1;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  -webkit-transition: 0.2s; /* Safari */
  transition: 0.2s;
}

#nextButton {
  background: #3498db;
  outline: none;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 5px;
  height: 70px;
  width: 100%;
  color: #ecf0f1;
  font-size: 30px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

.code {
  font-family: monospace;
  background: #eee;
  font-weight: lighter;
  border-radius: 3px;
  padding: 5px 10px 5px 10px;
}

.tab {
  display: inline;
  margin-left: 15px;
}

#scoresDiv {
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

#scoresDiv span {
  font-weight: lighter !important;
  font-family: "Raleway", sans-serif;
}
