<div class="project-card">
  <% if (post.photos[0]) { %>
    <div class="imgWrap">
      <img src="<%= post.photos[0] %>" alt="" />
    </div>
  <% } %>
  <div class="ctnWrap">
    <p class="title"><%= post.title %></p>
    <section class="desc"><%- partial('excerpt', { post: post }) %></section>
    <p class="sub"><%- date(post.date, 'HH:mm, MMMM Do YYYY') %></p>
  </div>
</div>
